<!DOCTYPE html>
<html lang="en" ng-app="gsApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Green Shelter @ViewBag.Title</title>

	<!-- core CSS -->
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/font-awesome.css" rel="stylesheet">
    <link href="/Content/animate.min.css" rel="stylesheet">
	<link href="/Content/gs-main.css" rel="stylesheet">
    <link href="/Content/responsive.css" rel="stylesheet">
	
	<!--[if lt IE 9]>
    <script src="/Scripts/html5shiv.min.js"></script>
    <script src="/Scripts/respond.min.js"></script>
    <![endif]-->    
	
    <link rel="shortcut icon" href="/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body ng-controller="AppController">
	@Html.AntiForgeryToken()
	
    <!-- Static navbar -->
	<header id="header" name="header">
		<nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ng-model="routes" href="#/"><img src="/images/logo.png" alt="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li id="home" class="active"><a ng-model="routes" href="#/spa">Home</a></li>
						<li id="about" class="dropdown">
						  <a ng-model="routes" href="#/about" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <i class="fa fa-angle-down"></i></span></a>
						  <ul class="dropdown-menu" role="menu">
							<li><a ng-model="routes" gs-parent="about" href="#/about/mission">Mission &amp; History</a></li>
							<li><a ng-model="routes" gs-parent="about" href="#/about/board">Board of Directors</a></li>
							<li><a ng-model="routes" gs-parent="about" href="#/about/employment">Employment</a></li>
							<li><a ng-model="routes" gs-parent="about" href="#/about/faqs">FAQ's</a></li>
						  </ul>
						</li>
						<li id="services" class="dropdown">
						  <a ng-model="routes" href="#/services" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Our Services <i class="fa fa-angle-down"></i></a>
						  <ul class="dropdown-menu" role="menu">
							<li><a ng-model="routes" gs-parent="services" href="#/services/family">Family Services</a></li>
							<li><a ng-model="routes" gs-parent="services" href="#/services/housing">Housing</a></li>
							<li><a ng-model="routes" gs-parent="services" href="#/services/emergency/care">Emergency Care</a></li>
						  </ul>
						</li>

						<li><a ng-model="routes" href="#/contact">Contact Us</a></li>
						<li ng-hide="user.authenticated">
							<a ng-model="routes" href="#/client/register">
								<i class="fa fa-user-plus fa-lg"></i> Register
							</a>
						</li>
						<li ng-hide="user.authenticated">
							<a ng-model="routes" href="#/client/login"">
								<i class="fa fa-sign-in fa-lg"></i> Login
							</a>
						</li>
						<li ng-show="user.authenticated">
							<a ng-model="routes" href="#/client/profile">
								<i class="fa fa-user-plus fa-lg"></i> Profile
							</a>
						</li>
						<li ng-show="user.authenticated">
							<a ng-model="routes" href="#/client/logout">
								<i class="fa fa-sign-out fa-lg"></i> Logout
							</a>
						</li>
					</ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->

	</header> <!-- header-->
	
	<!-- Main Container -->
	<main id="main" name="main">
      @RenderBody()      
    </main> 
	<!-- /main -->
	
	<footer id="footer" class="midnight-blue navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>&copy; @DateTime.Now.Year Green Shelter. All Rights Reserved.</p>
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#/">Home</a></li>
                        <li><a href="#/about">About Us</a></li>
                        <li><a href="#/faqs">Faq</a></li>
                        <li><a href="#/contact"">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

	<!-- TODO: CREATE BUNDLE -->
    <!-- Bootstrap core JavaScript -->
    <!-- ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="/Scripts/jquery.min.js"></script>
	<script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    
	<!-- Angular core JavaScript -->
	<script language="javascript" src="/Scripts/angular.min.js"></script>
	<script lnaguage="javascript" src="/Scripts/angular-resource.min.js"></script>
	<script lnaguage="javascript" src="/Scripts/angular-route.min.js"></script>
	<script lnaguage="javascript" src="/Scripts/angular-local-storage.min.js"></script>
	
	<!-- Green Shelter JavaScript -->
	<script lnaguage="javascript" src="/Scripts/gs-main.js"></script>
	<script lnaguage="javascript" src="/Scripts/gs-angular-app.js"></script>
	<script lnaguage="javascript" src="/Scripts/gs-angular-controllers.js"></script>
	<script lnaguage="javascript" src="/Scripts/gs-angular-services.js"></script>
  </body>
</html>
